@model BTL_PTPMQL_NHOM12.Models.Phongban

@{
    ViewData["Title"] = "Delete";
}

<h1>Bạn có muốn xóa</h1>

<h3>Bảng phòng ban</h3>
<div>
    @* <h4>Phongban</h4> *@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPB)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaPB" />
        <input type="submit" value="Delete" class="btn btn-danger btn-delete" /> |
        <a asp-action="Index" class="add_TSX">Trở lại danh sách</a>
    </form>
</div>
