@model BTL_PTPMQL_NHOM12.Models.login

@{
    ViewData["Title"] = "Create";
    Layout = null;
@if (TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span><b>Xin lỗi!</b> - @TempData["Error"] </span>
    </div>
}
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhâp</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section>
     <div class="img-bg">
            <img src="https://niemvuilaptrinh.ams3.cdn.digitaloceanspaces.com/tao_trang_dang_nhap/hinh_anh_minh_hoa.jpg" alt="Hình Ảnh Minh Họa">
        </div>
        <!--Bắt Đầu Phần Nội Dung-->
        <div class="noi-dung">
            <div class="form">
                <h2>Đăng Nhập</h2>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" ></div>
                  
                    <div class="input-form">
                        <label asp-for="User"  ></label>
                        <input asp-for="User"   />
                        <span asp-validation-for="User" ></span>
                    </div>

                    <div class="input-form">
                        <label asp-for="Password"  ></label>
                        <input asp-for="Password"   />
                        <span asp-validation-for="Password" ></span>
                    </div>

                    <div class="input-form">
                        <input type="submit" value="Đăng nhập" class="btn btn-primary" />

                </form>

            </div>
        </div>
        <!--Kết Thúc Phần Nội Dung-->
    </section>
</body>

</html>
<style>
   *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
section .img-bg{
    position: relative;
    width: 50%;
    height: 100%;
}
section .img-bg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .noi-dung{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    text-align: center;
    font-family: inherit;
}
section .noi-dung .form{
    width: 50%;
}
section .noi-dung .form h2{
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid #7e5966;
    display: inline-block;
    letter-spacing: 1px;
}
section .noi-dung .form .input-form{
    margin-bottom: 20px;
}
section .noi-dung .form .input-form span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;
     }
section .noi-dung .form .input-form input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #42545c;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    margin-top: 6px;
    }
section .noi-dung .form .input-form input[type="submit"]{
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
               0 2px 2px rgba(0,0,0,0.12),
               0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}
section .noi-dung .form .input-form input[type="submit"]:hover{
    background: #f53677;
}
section .noi-dung .form .nho-dang-nhap{
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}
section .noi-dung .form .input-form p{
    color: #607d8b;
}
section .noi-dung .form .input-form p a{
    color: #ff4584;
}
.alert-danger {

        color: #842029;

        background-color: #f8d7da;

        border-color: #f5c2c7;

        min-height: 44px;

        line-height: 41px;

    }
</style>
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
