@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center img-TC "> 
    <h5 class="display-4 dpl"> <br>Chào mừng bạn đến với hệ thống tiếp nhận và quản lí dịch vụ khách hàng</h5>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<style>
    .img-TC{
        
    }
    .dpl{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>