 
@model BTL_PTPMQL_NHOM12.Models.Giaonhan

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới</h1>

<h4>Bảng giao nhận</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaQL" class="control-label"></label>
                <select asp-for="MaQL" class ="form-control" asp-items="ViewBag.MaQL"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNV" class="control-label"></label>
                <select asp-for="MaNV" class ="form-control" asp-items="ViewBag.MaNV"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaDV" class="control-label"></label>
                <select asp-for="MaDV" class ="form-control" asp-items="ViewBag.MaDV"></select>
            </div>
            <div class="form-group">
                <label asp-for="TrangThaiHienTai" class="control-label"></label>
                <input asp-for="TrangThaiHienTai" class="form-control" />
                <span asp-validation-for="TrangThaiHienTai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayGiao" class="control-label"></label>
                <input asp-for="NgayGiao" class="form-control" />
                <span asp-validation-for="NgayGiao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayHoanThanh" class="control-label"></label>
                <input asp-for="NgayHoanThanh" class="form-control" />
                <span asp-validation-for="NgayHoanThanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Tạo mới" class="btn btn-primary btn-create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="add_TSX">Trở lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
