@model BTL_PTPMQL_NHOM12.Models.Nganhang

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bảng ngân hàng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNH)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNH">Chỉnh sửa</a> |
    <a asp-action="Index" class="add_TSX">Trở lại danh sách</a>
</div>
